#IntroSection {
    background-color: white;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
}
.interactive-img {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    width: 100%;
    height: auto;
}
.interactive-header{
    font-size: 2.3rem;
    text-transform: uppercase;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.interactive-text{
    padding-top: 2rem;
    color : var(--DarkGray);
    font-size: 1.4rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
}
@media screen and (min-width: 1000px) {
    .interactive-img {
        width: 100%;
        position: relative;
        left: 10%;
    }
    #IntroSection{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .interactive-header-container{
        background-color: white;
        width: 90%;
        position: relative;
        right: 10%;
        top: 40%;
    }
    .interactive-header{
        padding: 2.5rem;
        text-align: start;
    }
    .interactive-text{
        padding: 2.5rem;
        padding-top: 1rem;
        text-align: start;
    }
}